.home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

.home-blurb {
    width: 50%;
    margin-top: auto;
}
.home-explore {
    width: 50%;
    margin-top: auto;
}