
.home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

.home-blurb {
    height: 80%;
    width: 50%;
    min-width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.home-blurb p {
    width: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.home-explore {
    height: 80%;
    width: 50%;
    min-width: 500px;
    margin-top: auto;
}
.home-explore-btn {
    height: 100%;
    width: 100%;
}
.home-explore button {
    height: 250px!important;
    width: 250px!important;
    all: unset;
    background-color: #FFFFFF;
    color: #0B0D17;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    box-shadow: 0px 0px 0px 0px #66666680;
    transition: box-shadow 0.2s linear;
    margin: 0.5em;
}
.home-explore button:hover {
    box-shadow: 0px 0px 0px 65px #8585852a;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .home-container {
        flex-direction: column;
        background-image: url("../../assets/home/background-home-tablet.jpg");
    }

    .home-blurb {
        width: 50%;
        min-width: 500px;
        margin-top: 150px;
        text-align: center;
    }


    .home-explore {
        margin-left: auto;
        margin-right: auto;
    }
    .home-explore button {
        height: 225px!important;
        width: 225px!important;
    }
}

@media screen and (max-width: 767px) {
    .home-container {
        flex-direction: column;
        background-image: url("../../assets/home/background-home-mobile.jpg");
    }

    .home-blurb {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-top: 20%;
        text-align: center;
    }
    .home-blurb p {
        width: 90%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .home-intro {
        font-size: 18px!important;
    }
    .home-title {
        font-size: 80px!important;
    }
    .home-desc {
        font-size: 12px!important;
    }

    .home-explore {
        height: 80%;
        width: 50%;
        min-width: 100%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .home-explore button {
        height: 200px!important;
        width: 200px!important;
    }
    .home-explore button:hover {
        box-shadow: 0px 0px 0px 50px #8585852a;
    }
}