.destination-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

.destination-heading {
    width: 95%;
    margin: 20% 0% 0% 0%;
    margin-left: 5%;
}
.destination-container-sub {
    display: flex;
    height: 80%;
    flex-direction: row;
}
/* left half */
.destination-img {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    min-width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.destination-img p {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 0%;
}
.destination-img span {
    font-weight: 700;
    margin-right: 20px;
}

.destination-img img {
    height: 500px;
    width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/* right half */
.destination-blurb {
    height: 80%;
    width: 50%;
    min-width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.destination-blurb-sub {
    height: auto;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.destination-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}
.destination-nav p {
    cursor: pointer;
    margin-right: 35px;
    padding: 10px 0px;
    border-bottom: solid #ffffff00;
}
.destination-nav p:hover {
    border-bottom: solid #858585;
}

.destination-blurb p {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* divider */
hr {
    height: 0.5px;
    width: 100%;
    background-color: #d0d6f979;
    border: none;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 25px;
}
/* divider */

.destination-blurb-bottom {
    display: flex;
    flex-direction: row;
}
.avg-distance {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.est-travel-time {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.planetActiveOn {
    border-bottom: solid #FFFFFF!important;
}
.planetActiveOff {
    border-bottom: none;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .destination-container {
        flex-direction: column;
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }
    .destination-heading {
        margin-top: 15%;
        margin-bottom: 5%;
        text-align: left;
    }

    .destination-container-sub {
        height: 70%;
        flex-direction: column;
    }

    .destination-img {
        height: 40%;
        width: 100%;
        min-width: 500px;
    }
    .destination-img p {
        margin-top: 15%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .destination-img img {
        height: 100%;
        width: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .destination-nav {
        justify-content: center;
        margin-bottom: 20px;
    }
    .destination-nav p {
        margin-left: 20px;
        margin-right:20px;
    }
    .destination-blurb {
        height: 60%;
        width: 100%;
        text-align: center;
    }
    .destination-blurb-sub {
        height: auto;
        width: 75%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        margin-top: 25px;
        margin-left: 0px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .destination-container {
        flex-direction: column;
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }
    .destination-heading {
        margin-top: 15%;
        margin-bottom: 5%;
        text-align: left;
    }

    .destination-container-sub {
        height: 70%;
        flex-direction: column;
    }

    .destination-img {
        height: 40%;
        width: 100%;
        min-width: 500px;
    }
    .destination-img p {
        margin-top: 15%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .destination-img img {
        height: 100%;
        width: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .destination-nav {
        justify-content: center;
        margin-bottom: 20px;
    }
    .destination-nav p {
        margin-left: 20px;
        margin-right:20px;
    }
    .destination-blurb {
        height: 60%;
        width: 100%;
        text-align: center;
    }
    .destination-blurb-sub {
        height: auto;
        width: 75%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        margin-top: 25px;
        margin-left: 0px;
        margin-bottom: 25px;
    }
}