.technology-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.technology-heading {
    width: 95%;
    max-width: 1280px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
}
.technology-container-sub {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.technology-flex {
    display: flex;
    flex-direction: row;
}

/* change technology */
.technology-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 28px;
    margin-right: 50px;
    margin-bottom: auto;
}
.technology-nav button {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Bellefair', serif;
    font-size: 24px;
}
.techActiveOn {
    background-color: #FFFFFF!important;
}
.technology-nav button:hover {
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
}
.techActiveOff {
    background-color: #ffffff00!important;
    border: 1px solid #ffffff40;
    color: #FFFFFF;
    backdrop-filter: blur(10px);
}

/* technology description */
.technology-blurb {
    height: auto;
    width: 60%;
    min-width: 500px;
    margin-top: auto;
    margin-right: 5%;
    margin-bottom: auto;
    padding-left: 4%;
}
.technology-blurb-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.technology-blurb span {
    font-weight: 700;
    margin-right: 20px;
}
.technology-role {
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.technology-name {
    margin: 10px 0px 40px 0px;
}

/* technology image */
.technology-img {
    display: flex;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}
.technology-img img {
    height: 90%;
    margin-left: auto;
}


@media screen and (min-width:768px) and (max-width: 1023px) {
    .technology-container {
        flex-direction: column;
        background-image: url("../../assets/technology/background-technology-tablet.jpg");
    }
    .technology-heading {
        text-align: left;
        margin-top: 15%;
        margin-bottom: 0%;
    }
    .technology-container-sub {
        height: 85%;
        flex-direction: column-reverse;
    }
    .technology-flex {
        flex-direction: column;
    }
    .technology-img {
        height: 30%;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .technology-img img {
        height: 100%;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }

    .technology-blurb {
        text-align: center;
        height: 50%;
        width: 100%;
        min-width: 0px;
        margin-top: 5%;
        margin-left: 0%;
        margin-bottom: 10%;
        padding: 0px;
    }
    .technology-blurb-sub {
        height: auto;
        width: 100%;
    }

    .technology-name {
        margin-bottom: 1%;
    }
    .technology-bio {
        max-width: 100%;
    }
    .technology-desc {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .technology-nav {
        flex-direction: row;
        margin: 0px;
        justify-content: center;
    }
    .technology-nav button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .technology-container {
        flex-direction: column;
        background-image: url("../../assets/technology/background-technology-mobile.jpg");
    }
    .technology-heading {
        text-align: left;
        margin-top: 15%;
        margin-bottom: 0%;
    }
    .technology-container-sub {
        height: 85%;
        flex-direction: column-reverse;
    }
    .technology-flex {
        flex-direction: column;
    }
    .technology-img {
        height: 30%;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .technology-img img {
        height: 100%;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }

    .technology-blurb {
        text-align: center;
        height: 50%;
        width: 100%;
        min-width: 0px;
        margin-top: 5%;
        margin-left: 0%;
        margin-bottom: 10%;
    }
    .technology-blurb-sub {
        height: auto;
        width: 100%;
    }

    .technology-name {
        margin-bottom: 1%;
    }
    .technology-bio {
        max-width: 100%;
    }
    .technology-desc {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .technology-nav {
        flex-direction: row;
        margin: 0px;
        justify-content: center;
    }
    .technology-nav button {
        margin-left: 10px;
        margin-right: 10px;
    }
}