.crew-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

/* crew member profile */
.crew-blurb {
    height: 75%;
    width: 50%;
    min-width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.crew-blurb-sub {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.crew-blurb span {
    font-weight: 700;
    margin-right: 20px;
}
.crew-heading {
    margin-bottom: 30%;
}
.crew-role {
    margin-bottom: 0px;
    letter-spacing: 1px!important;
}
.crew-name {
    margin: 10px 0px 40px 0px;
}
.crew-bio {
    max-width: 450px;
}

/* change crew member */
.crew-nav {
    height: 30px;
    margin-top: auto;
}
.crew-nav button {
    all: unset;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* highlight nav buttons */
.crewActiveOn {
    background-color: #FFFFFF!important;
}
.crew-nav button:hover {
    background-color: #ffffff80!important;
    backdrop-filter: blur(10px);
}
.crewActiveOff {
    background-color: #ffffff25!important;
    backdrop-filter: blur(10px);
}

/* crew member profile picture */
.crew-img {
    display: flex;
    height: 75%;
    width: 50%;
    margin-top: auto;
}
.crew-img img {
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .crew-container {
        flex-direction: column;
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
    }
    .crew-img {
        height: 50%;
        width: 100%;
    }
    .crew-img img {
        height: 100%;
        width: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .crew-blurb {
        text-align: center;
        height: 50%;
        width: 100%;
        margin-top: 15%;
    }
    .crew-blurb-sub {
        height: auto;
        width: 100%;
    }
    .crew-heading {
        text-align: left;
        margin-top: 0%;
        margin-bottom: 10%;
    }
    .crew-description {
        margin-left: 10%;
        margin-right: 10%;
    }
    .crew-bio {
        max-width: 100%;
    }
    .crew-nav {
        justify-content: center;
        margin-bottom: 5%;
    }
    .crew-nav p {
        margin-left: 20px;
        margin-right:20px;
    }
}

@media screen and (max-width: 767px) {
    .crew-container {
        flex-direction: column;
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
    }
    .crew-img {
        height: 50%;
        width: 100%;
    }
    .crew-img img {
        height: 100%;
        width: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .crew-blurb {
        text-align: center;
        height: 50%;
        width: 90%;
        margin-top: 15%;
    }
    .crew-blurb-sub {
        height: auto;
        width: 90%;
    }
    .crew-heading {
        text-align: left;
        margin-top: 0%;
        margin-bottom: 10%;
    }
    .crew-description {
        margin-left: auto;
        margin-right: auto;
    }
    .crew-bio {
        max-width: 100%;
    }
    .crew-nav {
        justify-content: center;
        margin-bottom: 5%;
    }
    .crew-nav p {
        margin-left: 20px;
        margin-right:20px;
    }
}