.crew-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.crew-heading {
    width: 95%;
    max-width: 1280px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
}
.crew-container-sub {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* crew member profile */
.crew-blurb {
    height: calc(100vh-312px);
    width: 60%;
    min-width: 500px;
    margin-top: auto;
    margin-right: 5%;
    margin-bottom: auto;
    padding-left: 4%;
}
.crew-blurb-sub {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.crew-blurb span {
    font-weight: 700;
    margin-right: 20px;
}

.crew-role {
    margin-bottom: 0px;
    letter-spacing: 1px!important;
}
.crew-name {
    margin: 10px 0px 40px 0px;
}
.crew-bio {
    width: 80%;
    margin-bottom: 10%;
}

/* change crew member */
.crew-nav {
    margin-top: auto;
}
.crew-nav button {
    all: unset;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* highlight nav buttons */
.crewActiveOn {
    background-color: #FFFFFF!important;
}
.crew-nav button:hover {
    background-color: #ffffff80!important;
    backdrop-filter: blur(10px);
}
.crewActiveOff {
    background-color: #ffffff25!important;
    backdrop-filter: blur(10px);
}

/* crew member profile picture */
.crew-img {
    display: flex;
    height: 100%;
}
.crew-img img {
    height: 100%;
    margin-left: auto;
}
.crew-img hr {
    display: none;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .crew-container {
        flex-direction: column;
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
    }
    .crew-container-sub {
        flex-direction: column;
    }

    .crew-blurb {
        text-align: center;
        height: 30%;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0px;
    }
    .crew-blurb-sub {
        height: auto;
        width: 100%;
    }
    .crew-heading {
        text-align: left;
        margin-top: 15%;
        margin-bottom: 0px;
    }
    .crew-description {
        margin-left: 10%;
        margin-right: 10%;
    }
    .crew-bio {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    .crew-nav {
        justify-content: center;
    }
    .crew-nav p {
        margin-left: 20px;
        margin-right:20px;
    }

    .crew-img {
        height: 60%;
        min-height: auto;
        width: 100%;
    }
    .crew-img img {
        height: 100%;
        width: auto;
        margin-top: 0%;
        margin-right: auto;
        margin-bottom: 0%;
    }
    .crew-img hr {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .crew-container {
        flex-direction: column;
        background-image: url("../../assets/crew/background-crew-mobile.jpg");
    }

    .crew-heading {
        text-align: center;
        margin-top: 20%;
        margin-bottom: 0px;
        font-size: 18px!important;
    }

    .crew-container-sub {
        flex-direction: column-reverse;
        height: 85%;
        max-width: 100%;
    }    
    .crew-blurb {
        display: flex;
        text-align: center;
        height: 50%;
        width: 100%;
        min-width: 100%;
        margin-top: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        padding: 0px;
    }
    .crew-blurb-sub {
        height: 100%;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .crew-description {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .crew-role {
        font-size: 18px!important;
    }
    .crew-name {
        font-size: 34px!important;
        margin-bottom: 1%;
    }
    .crew-bio {
        font-size: 12px!important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        line-height: 15px!important;
    }
    .crew-nav {
        justify-content: center;
    }
    .crew-nav p {
        margin-left: 15px;
        margin-right: 15px;
    }

    .crew-img {
        display: flex;
        flex-direction: column;
        height: 50%;
        margin-top: 5%;
    }
    .crew-img img {
        height: 100%;
        margin-right: auto;
    }
    .crew-img hr {
        display: block!important;
        height: 2px!important;
        width: 90%;
        border-top: 0.5px solid #d0d6f979;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}